# Dependencies
node_modules/
**/node_modules/

# Environment files
.env
.env.*
!.env.example

# Sensitive keys and credentials
firebase-*.json

*.pem
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build & cache directories
.expo/
dist/
web-build/
uploads/

# Operating System files
.DS_Store
Thumbs.db

# IDE & Editor configurations
.vscode/
.idea/
*.swp
*.swo
